# Stripe API Keys
STRIPE_SECRET_KEY=sk_live_YOUR_SECRET_KEY_HERE
STRIPE_PUBLISHABLE_KEY=pk_live_51TS1hU3FlweH7tQS0IxH6auf9vXsDcIDRKR23boBkllJgEVrXn4HGMKLMCTsRZIF4EEFhKhjJrRMr6Vh1IHd82jz00uzspwAiE

# Server Port
PORT=3000

# Frontend URL (for CORS)
FRONTEND_URL=https://buyiasleads.com
